<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leadplatform.kfarmers">

    <permission
        android:name="com.leadplatform.kfarmers.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.leadplatform.kfarmers.permission.C2D_MESSAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <permission
        android:name="com.leadplatform.kfarmers.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"></permission>

    <uses-permission android:name="com.leadplatform.kfarmers.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.COARSE_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:required="false" />
    <uses-permission
        android:name="android.permission.CALL_PHONE"
        android:required="false" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!--
        <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="com.google.android.apps.photos.permission.GOOGLE_PHOTOS" />

    <application
        android:name=".KFarmersApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.Sherlock.CustomPtrHeader">

        <!-- FaceBook -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <provider
            android:authorities="com.facebook.app.FacebookContentProvider304909389703966"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />

        <!-- KaKao -->
        <activity
            android:name="com.kakao.LoginActivity"
            android:screenOrientation="portrait" />

        <!-- GCM -->
        <receiver
            android:name=".util.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.leadplatform.kfarmers" />
            </intent-filter>
        </receiver>

        <!-- Enable background dispatching to improve delivery on non-Google Play devices -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <!-- Enable Google Play Store Campaign reports -->
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.CampaignTrackingService"
            android:enabled="true" />


        <service android:name=".util.gcm.GcmIntentService" />

        <!--
        <service android:name="com.leadplatform.kfarmers.beacon.BeaconService"
            	 android:exported="false">
            <intent-filter>
                <action android:name="com.leadplatform.kfarmers.beconsevice"/>
            </intent-filter>

		</service>
        -->

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id_facebook" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/app_id_google_map_v2" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <!-- [naveroauthlogin][start] 네이버아이이로로그인을 사용하기 위해서 넣어줘야하는 부분 -->
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginActivity"
            android:configChanges="orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginInAppBrowserActivity"
            android:label="OAuth2.0 In-app"
            android:screenOrientation="portrait" />
        <!-- [naveroauthlogin][end] -->


        <!-- 비콘 주석 -->
        <!--
        <service
                android:name="org.altbeacon.beacon.service.BeaconService"
                android:enabled="true"
                android:exported="true"
                android:isolatedProcess="false"
                android:label="beacon">
        </service>
        <service
                android:name="org.altbeacon.beacon.BeaconIntentProcessor"
                android:enabled="true">
        </service>

        <receiver android:name="org.altbeacon.beacon.startup.StartupBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        -->

        <activity
            android:name=".view.main.SplashActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.NoActionBar"
            android:uiOptions="none"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/kakaostory_host"
                    android:scheme="@string/kakao_scheme" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/kakaolink_host"
                    android:scheme="@string/kakao_scheme" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/kfarmers_host"
                    android:scheme="@string/kfarmers_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.login.LoginActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.login.FindAccountActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.main.MainActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.CustomPtrHeader"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.actionbar.SearchActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.join.JoinGeneralActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.join.JoinFarmerActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.join.JoinVillageActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.join.JoinTermsActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.common.ImageRotateActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.common.WeatherActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.common.TagActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.common.ShopActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.common.GcmActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.diary.DiaryWriteActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".view.diary.DiaryEditActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".view.diary.DiaryDetailActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.menu.release.FarmerReleaseActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.menu.release.VillageReleaseActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.menu.release.TodayReleaseActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.menu.story.FarmStoryActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.menu.story.ConsumerStoryActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.menu.story.InterviewStoryActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.menu.story.FreshStoryActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.menu.story.MyStoryActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.menu.story.StoryDetailActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.menu.notice.FarmNoticeActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.menu.notice.TypeNoticeActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.menu.favorite.FavoriteActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.menu.blog.BlogActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.menu.setting.SettingActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.menu.setting.SettingSNSActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.recommend.RecommendActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.join.EditGeneralActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.join.EditFarmerActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.join.EditVillageActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.sns.SnsActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="daum-405346064575943911" />
            </intent-filter>

        </activity>
        <activity
            android:name=".view.farm.FarmActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.farm.FarmIntroductionActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.farm.FarmLocationActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.reply.ReplyActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.market.ProductActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.common.ImageSelectorActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".util.gcm.StartActivityForPush"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".beacon.StartActivityForBeacon"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".view.login.KakaoLoginActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.menu.setting.SettingServiceActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.diary.FacebookAlbumActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.address.AddressActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.common.GcmComentActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.market.register.ProductRegisterActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".beacon.BeaconActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.menu.invite.InviteActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.cart.CartActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.payment.PaymentActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.payment.PaymentWebActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.menu.order.OrderActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/kfarmers_host_order"
                    android:scheme="@string/kfarmers_scheme" />
                `
            </intent-filter>
        </activity>
        <activity
            android:name=".view.common.ShopAgreementActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.common.LicenseeInfoActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.Supporters.SupportersDetailActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.Supporters.SupportersWinActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.common.YoutubePlayActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".view.market.ProductOptionActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".view.inquiry.ProductInquiryActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".view.inquiry.InquiryActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".view.evaluation.EvaluationActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".view.common.ImageViewActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".view.recipe.RecipeViewActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".view.reply.NewReplyActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".view.recipe.RecipeListActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".view.menu.point.PointActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".view.diary.StoryListActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".view.diary.StoryViewActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".view.diary.StoryWriteActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".view.evaluation.ReviewActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".view.evaluation.ReviewDetailActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".view.menu.order.OrderGeneralActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".view.common.CWebview"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <service
            android:name=".service.SnsPostingService"
            android:enabled="true"
            android:exported="false"></service>

        <!--<provider
            android:name=".controller.provider.InquiryProvider"
            android:authorities="com.leadplatform.kfarmers.controlle.provider.inquiry" />-->
    </application>

</manifest>
